/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}
img{
    width: 100%;
}
.btn-primary{
    cursor: pointer;
    border: none;
    padding: 14px 24px;
    color: white;
    background-color: #E55473;
    border-radius: 8px;
    font-weight: bold;
}
header {
  display: flex;
  background-color: #f4fcee;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-title{
    font-size: 45px;
    margin-bottom: 45px;
    color: #272727;
}

.header-para{
    color: #272727;
    margin-bottom: 45px;

}

.header-right img {
  width: 100%;
  margin-top: 45px;
}

.featured-title{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    color: #272727;
}
.featured-para{
    width: 594px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
    color: #272727;
}

.featured-flower-section{
    display: flex;
    gap: 24px;
}

.featured-flower-one, .featured-flower-two, .featured-flower-three{
    width: 464px;
    height: 450px;
    border-radius:50px ;
    background-color: #d3559281;
}

.featured-flower-two{
    background-color: rgba(0, 191, 255, 0.342);
}
.featured-flower-one img{
    width: 370px;
    
}
.featured-flower-two img{
    width: 300px;
}
.featured-flower-three img{
    width: 324px;
}
.flower-name{
    text-align: center;
    margin-top: 15px;
}